<a class="btn btn-success" [routerLink]="['/create']">Create Customer</a>
<br><br>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th> Customer Id</th>
            <th> Customer Name</th>
            <th> Address</th>
            <th> Email Id</th>
            <th> Mobile No</th>
            <th> Credit Limit</th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of custs">
            <td>{{temp.customerID}}</td>
            <td>{{temp.customerName}}</td>
            <td>{{temp.address}}</td>
            <td>{{temp.emailID}}</td>
            <td>{{temp.mobileNo}}</td>
            <td>{{temp.creditLimit}}</td>
            <td>
                <a class="btn btn-info" [routerLink]="['/details',temp.customerID,temp.customerName]">Details</a>
                |
                <a class="btn btn-primary">Edit</a>
                |
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>