<div class="container">
  <div class="row d-flex">
    <div class="row mt-5 mb-3">
      <div class="col-md-12 text-center">
          <h1>First Angular Application</h1>
      </div>
    </div>
    <div class="row text-center mb-3">
      <div class="col-md-12">
        <div class="btn btn-group">
          <a class="btn btn-primary" [routerLink]="['/prod']">Product</a>
          <a class="btn btn-info" [routerLink]="['/cust']">Customer</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>