
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is to display simple partial view</h1>
    @Html.Partial("_Sample")

    <h1>This is to display partial view with model</h1>
    @Html.Partial("_dispEmp")
</body>
</html>
