<h1>Directive Example</h1>

<input type="button" value="{{ flag ? 'Hide' : 'Show' }}" (click)="toggle()" />
<hr />
<table border="1" *ngIf="flag">
  <thead>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>MFG Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Santoor</td>
      <td>ITC</td>
      <td>40</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Maggie</td>
      <td>Nestle</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

<input type="number" [(ngModel)]="val"  [disabled]="flag"/>
<ul [ngSwitch]="val">
  <li *ngSwitchCase="1">First Li</li>
  <li *ngSwitchCase="2">Second Li</li>
  <li *ngSwitchCase="3">Third Li</li>
  <li *ngSwitchCase="4">Fourth Li</li>
  <li *ngSwitchDefault>Default Li</li>
</ul>

<hr>
ng-template Example

<span *ngIf="flag;then first;else second"></span>

<input type="button" (click)="toggle()" value="{{flag?'First':'Second'}}">

<ng-template #first>
  <ul>
    <li>Angular</li>
    <li>Knockout</li>
    <li>Vue</li>
    <li>ReactJS</li>
  </ul>
</ng-template>

<ng-template #second>
  <ul>
    <li>ASP.Net Core</li>
    <li>ASP.Net MVC</li>
    <li>Django</li>
    <li>Laravel</li>
  </ul>
</ng-template>